body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#title {
	margin-top: 50px;
}

.navbar-header > a {
	float: left;
}

#like-button {
	margin-top: 12px;
	float: right;
}

I'll make it responsive later...