body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(http://www.mediafire.com/conversion_server.php?3225&quickkey=w18upap391ucae5&doc_type=i&size_id=f);
background-repeat: no-repeat;
background-size: 100%;
}

.navbar {
  margin-bottom: 20px;
}

#title {
	margin-top: 50px;

}

.navbar-header > a {
	float: left;
}

#like-button {
	margin-top: 12px;
	float: right;
}

.server-status {
	width: 468px;
	height: 60px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 5px;
}

#server-1 {
	background-image: url(https://mceu.envioushost.com/index.php?r=status/2872.png);
}

#logo {
	width: 60px;
	height: 15px;
	border-radius: 2px;
}

I'll make it responsive later...